@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');


@font-face {
	font-family: 'bernier';
	src: url('../fonts/bernierregular-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sansus Webissimo';
	src: url('../fonts/SansusWebissimo.woff2') format('woff2'),
	url('../fonts/SansusWebissimo.woff') format('woff'),
	url('../fonts/SansusWebissimo.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@mixin sansus() {
	font-family: 'Sansus Webissimo';
}

@mixin bernier() {
	font-family: 'bernier';
}