html {
  height: 100%;
	/*font-size: 16px;
	@include desktop{
		font-size: 15px;
	}
	@include laptop{
		font-size: 14px;
	}
	@include tablets{
		font-size: 13px;
	}
	@include phones{
		font-size: 12px;
	}*/
}

body {
	margin: 0;
	position: relative;
	font-family: "Roboto", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

input{
	&:focus{
		outline: none;
	}
}
textarea{
	&:focus{
		outline: none;
	}
}

.title{
	color: #373e42;
	@include sansus();
	font-size: 63px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	padding: 30px;
	position: relative;
	@include phones{
		font-size: 38px;
	}
	&:after{
		content: '';
		display: block;
		width: 100px;
		height: 3px;
		margin: 0 auto;
		margin-top: 20px;
		background: #373e42;
	}
	&:before{
		content: "";
		display: block;
		@include center();
	}
}

.title-2{
	color: #566358;
	@include sansus();
	font-size: 35px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	@include phones{
		font-size: 28px;
	}
	&:after{
		content: '';
		display: block;
		width: 100px;
		height: 3px;
		margin: 0 auto;
		margin-top: 20px;
		background: #373e42;
	}
}

svg{
	use{
		@include transition();
		fill: #fff;
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

* {
	box-sizing: border-box;
}