section.section.map
  script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A40d7d0432899e129734672d0de134ffda5cadaa1fe1ee2d876601047c7982724&amp;width=100%25&amp;height=800&amp;lang=ru_RU&amp;scroll=true")
  .map-block
    .map-block-wrap
      .map-block__title.title-2 Контакты
      ul.map-block__contacts
        each item, ndx in {'skype':'aztec-en-chalito','envelope':'it@aleksey-web.ru','phone':'+7 904 987 06 84','map_marker':'Екатеринбург'}
          li(class=`map-block__contacts-item`)
            svg.map-block__icon(width="24" height="24")
              use(xlink:href=`img/sprite/sprite.svg#${ndx}`)
            span #{item}