mixin title (title, url, additionClass)
  .title(style=`background-image: url('img/decor/${url}')` class=additionClass)= title

mixin soc (additionClass)
  ul.soc-icons(class=additionClass)
    each item in ['vk', 'github', 'in']
      li.soc-icons__item
        a(href="#" target='_blank').soc-icons__link
          svg.soc-icons__icon(width="24" height="24")
            use(xlink:href=`img/sprite/sprite.svg#${item}`)

-
  var skills = [
    {
      title: 'Frontend',
      items: [{title:'HTML5',data:'0.5'},{title:'CSS3',data:'0.8'},{title:'JavaScript & jQuery',data:'0.4'}]
    },
    {
      title: 'Backend',
      items: [{title:'PHP',data:'0.3'},{title:'mySQL',data:'0.75'},{title:'Node.js & npm',data:'0.6'},{title:'Mongo.db',data:'0.7'}]
    },
    {
      title: 'WorkFlow',
      items: [{title:'Git',data:'0.45'},{title:'Gulp',data:'0.65'},{title:'Bower',data:'0.2'}]
    }
  ]