@mixin centered($axis: 'both') {
  position: absolute;

  @if $axis == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if $axis == 'x' {
    left: 50%;
    transform: translateX(-50%);
  }

  @if $axis == 'y' {
    top: 50%;
    transform: translateY(-50%);
  }
}

%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin center($p:'all'){
  position: absolute;
  @if($p == 'x'){
    left: 50%;
    transform: translateX(-50%);
  }
  @if($p == 'y'){
    top: 50%;
    transform: translateY(-50%);
  }
  @if($p == 'all'){
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin svg-hover($fill: #4e8839){
  &:hover{
    cursor: pointer;
    svg{
      use{
        fill: $fill;
      }
    }
  }
}

@mixin transition(){
  transition: all 100ms ease;
}