.about{

}
.about__wrap{
  display: flex;
  @include laptop{
    flex-direction: column;
  }
}
.about__col{
  flex: 1;
  position: relative;
  &_beige{
    background: $beige;
  }
  &_white{
    background: $white;
  }
}
.about__section-title{
  padding: 40px 0 0;
  margin: 0 0 30px;
  &:before{
     width: 357px;
     height: 125px;
     background: url("../img/about_header.png");
     background-size: cover;
    @include phones{
      width: 300px;
      height: 105px;
    }
   }
}