.about{

}
.about__wrap{
  display: flex;
}
.about__left{
  flex: 1;
  position: relative;
  background: $beige;
}
.about__right{
  flex: 1;
  position: relative;
  background: $white;
}
.about__section-title{

}
.about__triangles{

}
