.form-commun{
  background-color: rgba(#e0e0dc, 0.6);
  border-radius: 5px;
  width: 380px;
  margin: 0 auto;
  overflow: hidden;
  @include phones{
    width: 280px;
  }
}
.form-commun__form-wrap{
  padding: 20px;
}
.form-commun__title-2{
  padding: 15px;
  font-size: 30px;
  margin-bottom: 0;
}
.form-commun__name, .form-commun__email, .form-commun__text{
  width: 100%;
  opacity: 0.85;
  background-color: white;
  border: none;
  margin: 10px 0;
  color: #5d5a55;
  font-size: 16px;
  font-weight: 400;
}
.form-commun__name, .form-commun__email{
  height: 45px;
  border-radius: 50px;
  padding: 2px 20px;
}
.form-commun__text{
  min-height: 100px;
  height: 140px;
  border-radius: 20px;
  padding: 20px;
}
.form-commun__buttons{
  display: flex;
}
.form-commun__submit, .form-commun__reset{
  flex: 1;
  background-color: #6c9c5a;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  border: none;
  margin-right: 1px;
  &:last-of-type{
    margin-right: 0;
  }
  &:hover{
    cursor: pointer;
    background-color: #4e8839;
  }
}