.hiro{
  background: url("../img/hiro_bg.png") no-repeat top center;
  background-size: cover;
  position: relative;
  height: 100vh;
}
.hiro__bg{
  @include center();
  width: 90%;
}
.hiro__bg-img{
  width: 100%;
}
.hiro__hamburger{
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 3;
  svg {
    overflow: visible;
    stroke-width: 5;
    stroke: #fff;
    line{
      transition: all .5s ease;
    }
    .svg__hamburger-1{
      transform-origin: left top;
    }
    .svg__hamburger-3{
      transform-origin: left bottom;
    }
  }
  //@include svg-hover(#c4cec2);
  &:hover{
    svg {
      line{
        stroke: #c4cec2;
      }
      .svg__hamburger-1{
        //transform: translateY(2px) rotate(45deg);

      }
      .svg__hamburger-3{
        //transform: translateY(-2px) rotate(-45deg);
      }
    }
  }
  @include phones{
    top: 10px;
    right: 10px;
  }
}
.hiro__down-arrow{
  @include center('x');
  bottom: 50px;
  z-index: 2;
  @include svg-hover(#c4cec2);
}
.hiro__down-arrow-icon{

}
.hiro__user-block{
  @include center();
  width: max-content;
}
.hiro__soc-icons{
  position: absolute;
  top: 40px;
  left: 40px;
  @include phones{
    top: 15px;
    left: 10px;
  }
}