.reviews-section{
  background: #f4f5f0 url("../img/reviews_bg.png") no-repeat center bottom;
  background-size: 100%;
  padding-bottom: 340px;
  position: relative;
  @include laptop{
    background-size: auto;
  }
}
.reviews-section__title{
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  &:before{
    width: 499px;
    height: 175px;
    background: url("../img/about_header.png");
    background-size: cover;
    @include tablets{
      width: 400px;
      height: 140px;
    }
    @include phones{
      width: 300px;
      height: 105px;
    }
  }
}
.reviews-section__list{

}
.reviews-section__form{
  margin-top: 100px;
}
.reviews-section__list-1{
  position: absolute;
  background: url("../img/list1.png");
  width: 58px;
  height: 108px;
  top: 50px;
  left: 50px;
  @include tablets{
    display: none;
  }
}
.reviews-section__list-2{
  position: absolute;
  background: url("../img/list2.png");
  width: 99px;
  height: 91px;
  top: 400px;
  right: 100px;
  @include tablets{
    display: none;
  }
}
.reviews-section__list-3{
  position: absolute;
  background: url("../img/list3.png");
  width: 141px;
  height: 120px;
  top: 700px;
  left: 80px;
  @include tablets{
    display: none;
  }
}