.user-skills{

}
.user-skills__block{

}
.user-skills__h2{
  margin: 20px 0 0 20px;
  color: #566358;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
}
.user-skills__items{
  display: flex;
}
.user-skills__item{
  position: relative;
  flex: 1;
  max-width: 100px;
  margin: 20px;
}
.user-skills__item-title{
  @include center();
  color: #4e8839;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}
.user-skills__item-circle{
  fill: none;
  stroke-width: 18px;
}
.user-skills__circle-empty{
  stroke: #dfdcd5;
  //stroke-width: 18px;
}
.user-skills__circle-full{
  stroke: #6c9c5a;
  stroke-dasharray: 129 258;
  stroke-dashoffset: 0;
  opacity: 0.5;
}